{% extends 'generic.html' %}

{% block main %}
    <h1>Question 1 : Min et max par année</h1>
    <html lang="en">
    <head>
      <title>Bootstrap Example</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
      <style>
      body {
        position: relative;
      }
      ul.nav-pills {
        top: 20px;
        /*position: fixed;*/
        resize: 13;
      }
      div.col-8 div {
        height: 500px;
      }
      ulnav {
        padding:0
      }
      .container-fluid
      {
         margin-top: 5px;
         margin-left: Opx;
      }
      .nav-link{
          margin-bottom: 5px;
      }
      .bg-success{
          margin-bottom: 10px;
      }
    
    li {
      display: inline;
    }
      </style>
    <script async src='/cdn-cgi/bm/cv/669835187/api.js'></script></head>
    <body data-spy="scroll" data-target="#myScrollspy" data-offset="1">
    
    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-4 nav-justified text-center" id="myScrollspy">
          <ul class="nav nav-pills flex-column">
    
            <li class="nav-item">
              <a class="nav-link" href="#section1">Section 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section2">Section 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section3">Section 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section4">Section 4</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section5">Section 5</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section6">Section 6</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section7">Section 7</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section8">Section 8</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="#section9">Section 9</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section10">Section 10</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section11">Section 11</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section12">Section 12</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section13">Section 13</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section14">Section 14</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section15">Section 15</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section16">Section 16</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section17">Section 17</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section18">Section 18</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section19">Section 19</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section20">Section 20</a>
            </li> 
          </ul>
    
        </nav>
            <div class="col-sm-9 col-8">
                <div id="section1" class="bg-success"> 
                    <h1>Section 1</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section2" class="bg-warning"> 
                    <h1>Section 2</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>        
                <div id="section3" class="bg-secondary">         
                    <h1>Section 3</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section4" class="bg-secondary">         
                    <h1>Section 4</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section5" class="bg-success">    
                    <h1>Section 5</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section6" class="bg-warning"> 
                    <h1>Section 6</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>        
                <div id="section7" class="bg-secondary">         
                    <h1>Section 7</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section8" class="bg-secondary">         
                    <h1>Section 8</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section9" class="bg-secondary">         
                    <h1>Section 9</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section10" class="bg-success">    
                    <h1>Section 10</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section11" class="bg-warning"> 
                    <h1>Section 11</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>        
                <div id="section12" class="bg-secondary">         
                    <h1>Section 12</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section13" class="bg-secondary">         
                    <h1>Section 13</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section14" class="bg-success">    
                    <h1>Section 14</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section15" class="bg-warning"> 
                    <h1>Section 15</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>        
                <div id="section16" class="bg-secondary">         
                    <h1>Section 16</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section17" class="bg-secondary">         
                    <h1>Section 17</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section18" class="bg-success">    
                    <h1>Section 18</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section19" class="bg-warning"> 
                    <h1>Section 19</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>
                <div id="section20" class="bg-warning"> 
                    <h1>Section 20</h1>
                    <p>Try to scroll this section and look at the navigation list while scrolling!</p>
                </div>            
            </div>
    </div>
    
    <script type="text/javascript">(function(){window['__CF$cv$params']={r:'6dae25811a6dee33',m:'RAaNwSMVVtwseAaHjAmN6YIFloL0s33ezQBWPNCp_fU-1644420705-0-ARU5yW8BrTe1ntyqdlKlRu3PV6D/PoLv2V/VVWlILOdC+pBnn+XR2bcP+xzLXZME2imZd7a+zpRx1Q0RszM0eDyE9+Q2YWEte/htuUsAnsxv6F3Hn/u4hnW8Na1/cxoJM0Nfijcc7/Ogle+kiBOTXVEYcuq0yYO41KPfy7cnvzhVHbK1Y+OaZWUZlBODV7vTUQ==',s:[0x2454e151db,0xa1b24b4a4c],}})();</script></body>
    </html>
    
    <p>{{ test }}</p>
{% endblock %}