{% extends "generic.html" %}
{% block main %}
  <section class="main">
    {% load static %}
   
  <div class="top"><img src="{% static 'img/img_site/accueil_icones.jpg'  %}" alt=""/>
  </div> 
  <div class="bot">
    <h1> Anomalies signalées dans ma rue -Paris Data</h1> 
      <p>Anomalies signalées par les contributeurs-utilisateurs de l'application Dans Ma Rue sur 13 mois glissants Depuis 2012 la ville de Paris a lancé une application mobile de signalements des anomalies sur l'espace public appelée " Dans Ma Rue".
Plus d'informations Signaleurs « Dans ma rue » : agir sur l’espace public
Dans ce jeu de données vous retrouvez l'ensemble des anomalies signalées de J-16 mois à J - 3 mois.
Les données antérieures sont disponibles dans le jeu de données historique : Dans Ma Rue - Historique - Anomalies signalées 
      </p>
  </div>
  
{% endblock %}

  


