li a {
     color: green;
 }

 .fake-img {
    display: block;
    height: 50px;  /* set the height here */
    width: 100%;
    background-image: url(img/accueil.jpg);
    background-repeat: no-repeat;
    background-position: center 68px;
    background-attachment: fixed;
 
}